--find-links https://download.pytorch.org/whl/torch_stable.html
asgiref==3.4.1
certifi==2021.5.30
charset-normalizer==2.0.6
click==8.0.1
fastapi
h11
httptools
importlib-metadata==4.8.1
joblib==1.0.1
mtranslate
gunicorn
nltk==3.6.3
numpy==1.21.2
pydantic==1.8.2
python-dotenv==0.19.0
PyYAML==5.4.1
regex==2021.8.28
requests==2.26.0
starlette==0.14.2
transformers==4.12.5
torch==1.9.1+cpu 
torchtext==0.10.1
tqdm==4.62.3
typing-extensions==3.10.0.2
urllib3==1.26.6
uvicorn
uvloop==0.16.0
watchgod==0.7
websockets==10.0
zipp==3.5.0
