@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.main__chatcontent {
  flex-grow: 1;
  padding: 30px 30px 10px 30px;
  max-width: 100%;
  /*border-right: 1px solid #ebe7fb;*/
}
/*
.content__header {
  padding-bottom: 15px;
  border-bottom: 1px solid #ebe7fb;
}
.current-chatting-user {
  display: flex;
  align-items: center;
}
.current-chatting-user p {
  margin: 0;
  font-weight: 600;
}
.content__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings .btn-nobg {
  color: #000;
}*/
.content__body {
  height: calc(100vh - calc(7vh / 2) - 200px);
  overflow: auto;
}
.chat__item {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-bottom: 15px;
  transition: all 0.3s ease;
  transform: scale(1);
  transform-origin: right;
  animation-name: showIn;
  /*animation-duration: 0.2s; /* or: Xms */
  /*animation-iteration-count: 1;
  animation-direction: normal; /* or: normal */
  animation-timing-function: cubic-bezier(
    0.88,
    0.19,
    0.37,
    1.11
  ); /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
  animation-fill-mode: both; /* or: backwards, both, none */
  animation-delay: 0.2s; /* or: Xms */
}

.chat__item.other img {
  overflow: hidden;
  border-radius: 50%;
  min-width: 40px;
  height: 40px;
}

.chat__item .avatar{
  background: #112B88;
  margin-right: 10px;
  margin-left: 0px;
  margin-bottom: 15px;
}

.chat__item .dark.avatar{
  background: #132668;
}

/*mensajes derecha*/
.chat__item__content {
  background-color: #032FCA;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 10px 10px 0px 10px;
  max-width: 80%;
  min-width: 200px;
}
.dark.chat__item__content {
  background-color: #132668;
  color: #FFFFFF;
}
.chat__item__content .chat__meta {
  display: block;
  margin-top: 5px;
}

/*hora de envio derecha*/
.chat__item__content_time {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  user-select: none;
  text-align: right;
  color: rgba(0, 0, 0, 0.7);
}

.dark.chat__item__content_time {
  color: rgba(255, 255, 255, 0.3);
}

/*hora de envio izquierda*/
.chat__item__content_time_other {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  user-select: none;
  text-align: left;
  color: rgba(0, 0, 0, 0.7);
}

.dark.chat__item__content_time_other {
  color: rgba(255, 255, 255, 0.3);
}

/*formato de los mensajes*/
.chat__msg {
  user-select: none;
  font-family: Poppins;
  font-style: normal;
  font-size: 14px;
}

.chat__item.other {
  display: flex;
  flex-direction: row-reverse;
}

/*mensaje izquierda*/
.chat__item.other .chat__item__content {
  background-color: #E0E0E0;
  color: #000;
  border-radius: 10px 10px 10px 0;
  width: 80%;
}

.chat__item.other .dark.chat__item__content {
  background-color: #363636;
  color: #fff;
}

.chat__item.other .chat__item__content .chat__meta span {
  color: #d1d1d1;
}
.content__footer {
  display:block;
  padding-top: 15px;
  border-top: 0.5px solid #FF0230;
  margin-top: 15px;
}
.sendNewMessage {
  background-color: #E0E0E0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 8px;
}

.dark.sendNewMessage {
  background-color: #363636;
}

.sendNewMessage button {
  width: 30px;
  height: 30px;
  background-color: #ecefff;
  align-content: center;
  border: none;
  box-shadow: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  background: #FF0230;
  padding: 0;
  border-radius: 50%;
  line-height: 36px;
  transition: all 0.3s cubic-bezier(0.88, 0.19, 0.37, 1.11);
}
.sendNewMessage button:hover {
  transform: scale(1.2);
}
.sendNewMessage button i {
  display: block;
}
.sendNewMessage input {
  flex-grow: 1;
  padding: 0 10px;
  background-color: transparent;
  border: none;
  outline: none;
  font-family: Poppins;
  color: #000;
}
.dark.sendNewMessage input {
  color: #FFFFFF;
}

#triangulo {
  width: 0; 
  height: 0; 
  margin-left: 9px;
  border-left: 14px solid white;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  margin-right: 20px;
  position: relative;
}
.avatar img {
  max-width: 100%;
  object-fit: cover;
}