@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
#root {
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.__main {
  max-width: 95%;
  background-color: #E0E0E0;
  height: 93vh;
  width: 100%;
  border-radius: 10px;
  padding: 0px;
  display: flex;
}

.dark.__main {
  max-width: 95%;
  background-color: #363636;
  min-height: 93vh;
  width: 100%;
  border-radius: 10px;
  padding: 0px;
  display: flex;
}

.btn {
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  width: 230px;
  height: 47px;
  line-height: 47px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.02);
  display: flex;
  padding: 0;
  transition: all 0.3s ease-in-out;
}
.btn:hover {
  background-color: #4664ff;
  color: #fff;
  transform: scale(1.02);
}
.btn i {
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 18px;
  border-right: 1px solid #ebe7fb;
}
.btn span {
  flex: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6c84ff;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3b5bfe;
}



*{
  margin: 0;
  padding: 0;
}
ul{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
body{
  background-color: #eee;
  font-family: 'Open Sans', sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
  display: none;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(85, 85, 85); 
  border-radius: 10px;
  display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333; 
  display: block;
}

/*Panel izquierdo*/
.side-menu{
  position: fixed;
  background: #112B88;
  box-shadow: 4px 0px 4px rgba(0, 0, 0, 0.25);
  width: 550px;
  height: 93vh;
  box-sizing: border-box;
  padding: 0px;
  transition: width .2s ease-in;
  overflow-y: scroll;
  /*margin-top: 3.5vh;*/
  /*bottom: 3.5vh;*/
}

.side-menu.inactive{
  width: 250px;
}

.dark.side-menu{
  background: #18275F;
}

.side-menu .fondo img{
  position: absolute;
  width: 100%;
  overflow-y: hidden;
  margin: 0px;
}

.side-content{
  position: relative;
  padding: 0px 50px;
  height: 90%;
  overflow: hidden;
  bottom: 3%;
}

.top-section{
  position: relative;
}

.top-section .logo{
  width: 370px;
  margin-left: 20px;
}

.inactive .top-section .logo{
  width: 150px;
  margin-left: -3px;
}

.top-section .logo img{
  max-width: 100%;
  max-height: 100%;
}

.top-section .logo img:hover{
  transform: scale(1.01)
}

.toggle-menu-btn{
  width: 0; 
  height: 0; 
  margin-left: 10px;
  border-right: 15px solid rgb(235, 19, 19);
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  position: relative;
  left: 90%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
}

.inactive .toggle-menu-btn{
  margin-left: -10px;
  border-left: 15px solid #FF0230;
  border-right: 0px;
  cursor: pointer;
}

/*
.search-controller{
  color: #fff;
  position: relative;
}

.search-controller .search-btn{
  width: 40px;
  height: 35px;
  position: absolute;
  background: transparent;
  border: 0;
  font-size: 20px;
  color: #666;
}

.side-menu .search-controller input[type=text]{
  border: 0;
  outline: none;
  height: 35px;
  background: #333;
  border-radius: 5px;
  display: block;
  margin: 20px 0;
  width: 100%;
  box-sizing: border-box;
  padding-left: 40px;
  color: #666;
}*/

/*Lista de diseño*/
.side-menu .main-menu .menu-item{
  color: rgb(247, 241, 241);
  text-decoration: none;
  font-size: 25px;
  display: block;
  font-weight: 600;
  cursor: pointer;
}

/*Lista de botones de Modelos*/
.side-menu .main-menu .grid-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  grid-gap: 7px 7px;
}

.side-menu.inactive .main-menu .grid-container{
  grid-template-columns: auto;
}

.side-menu .main-menu .grid-item {
  width: 125px;
  height: 120px;
  background: #F0F1F4;
  box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 7px 18px;
  font-size: 15px;
  text-align: center;
  font-family: Nunito;
  line-height: 27px;
  color: rgba(38, 44, 99, 0.92);
  cursor: pointer;
}

.side-menu .main-menu .dark.grid-item {
  background: #2F2F2F;
  color: rgba(255, 255, 255, 0.75);
  font-weight: lighter;
}

.side-menu.inactive .main-menu .grid-item{
  width: 90px;
  height: 80px;
  border-radius: 7px;
  padding: 3px 6px;
  cursor: pointer;
  color: transparent;
}

.side-menu .main-menu .grid-container .grid-item:hover {
  background: #FF5574;
  border: 1px solid #FF002E;
  box-shadow: inset 0px 0px 5px 1px #9B1D34;
  color: #14214F;
  font-size: 16px;
}

.side-menu .main-menu .circle {
  background: rgba(15, 28, 63, 0.125);
  border-radius: 50%;
  overflow: hidden;
  height: 87px;
  object-fit: cover;
  width: 90px;
}

.side-menu.inactive .main-menu .circle{
  height: 75px;
  object-fit: cover;
  width: 78px;
}

.circle img{
  width: 100%;
}

.side-menu .main-menu .menu-item.active{
  background: #333;
  border-radius: 5px;
  color: #fff;
}


.side-menu .main-menu{
  position: relative;
  /*max-height: 300px;*/
  background: rgba(255, 255, 255, 0.29);
  padding: 6px;
  margin-left: 20px;
  margin-right: 28px;
  border-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.side-menu .dark.main-menu {
  background: rgba(153, 153, 153, 0.29);
}

/* not required any more */
.side-menu.inactive .main-menu{
 margin-left: 22px;
 margin-right: 26px;
 margin-top: -5%
}

.inferior{
  display: inline-flex;
  padding-top: 20px;
}

.comentarios{
  width: 250px;
}

.burbuja{
  position: relative;
  background-color: #fff;
  padding: 20px;
  color: #112B88;
  font-family: VT323;
  text-align: center;
  font-size: 20px;
  border-radius: 7px;
  margin-left: 20px;
}

.dark.burbuja{
  background-color: #2F2F2F;
  color: #FFFFFF;
}

.burbuja:after{
  content: "";
  display: block;
  position: absolute;

  top: 30px;
  margin-left: 190px;

  width: 0;
  height: 0;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;

  border-bottom: 35px solid #fff;
}

.dark.burbuja:after{
  border-bottom: 35px solid #2F2F2F;
}

/*swotch*/
.switch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
  margin: 7px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(180, 180, 180);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: #112B88;
  transition: 0.4s;
}

.dark.slider:before {
  transform: translateX(20px);
  background-color: #18275F;
}



.side-menu .main-menu .lemur{
  padding: 5px 20px;
  right: 0px;
}
.side-menu .main-menu .lemur img{
  height: 125px;
}

.side-menu .main-menu .menu-item .menu-icon{
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

.side-menu .main-menu .menu-item span{
  position: absolute;
  display: inline-block;
  line-height: 40px;
  opacity: 1;
  transition: opacity .2s ease-in;
}

.side-menu.inactive .main-menu .menu-item span{
  opacity: 0;
  width: 0;
  height: 0;
  overflow: hidden;
}

.side-menu .main-menu .sub-menu{
  color: #333;
  margin-left: 20px;
  border-left: 1px solid #666;
  box-sizing: border-box;
  padding-left: 30px;
  max-height: 0;
  overflow: hidden;
  transition: max-height .2s ease-in;
}



.side-menu .main-menu .sub-menu.active{
  max-height: 200px;
}

.side-menu .main-menu .sub-menu a{
  display: block;
  margin: 5px 0;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  color: #333;
  box-sizing: border-box;
  padding: 5px;
}


.side-menu .main-menu .sub-menu a.active{
  /* change in background, not recorded in video */
  background: #222;
  display: block;
  
  border-radius: 5px;
  color: #fff;

}

.side-menu-footer{
  width: 100%;
  background: #333;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
}

.side-menu-footer .avatar{
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  display: inline-block;
}
.side-menu-footer .avatar img{
  max-width: 100%;
}

.side-menu-footer .user-info{
  display: inline-block;
  margin: 0 10px;
  color: #fff;
  position: absolute;
  opacity: 1;
  transition: opacity .2s ease-in;
}

.side-menu.inactive .side-menu-footer .user-info{
  opacity: 1;
  width: 0;
  height: 0;
  overflow: hidden;
}


.side-menu-footer .user-info h5{
  font-size: 15px;
}


.side-menu-footer .user-info p{
  font-size: 14px;
}

.divider{
  width: 100%;
  height: 1px;
  border-radius: 1px;
  background: #333;
}

.container{
  margin-left: 450px;
  transition: margin-left .2s ease-in;
  padding: 50px;
  box-sizing: border-box;
}

.container.inactive{
  margin-left: 150px;
}